In [1]:
import pandas as pd
import numpy as np

# a) Mann Whitney

In [3]:
training = pd.concat([pd.Series(data = ['Yes', 'No','Yes', 'No','Yes', 'No','Yes', 'No','Yes', 'No','Yes', 'No','Yes', 'Yes', 'Yes', 'No','No','Yes', 'No','Yes'], name = 'Read Book'),
                    pd.Series(data = [70,85,80,45,85,70,55,80,75,60,70,85,80,55,75,65,70], name='Score')], axis=1)
training.head()

  Read Book  Score
0       Yes   70.0
1        No   85.0
2       Yes   80.0
3        No   45.0
4       Yes   85.0

**Ho: Median tidak baca = Median baca   
Ha: Medain tidak baca > Median baca**

In [4]:
from scipy.stats import mannwhitneyu
result = list(mannwhitneyu(training[training['Read Book'] == 'No']['Score'],
                          training[training['Read Book'] == 'Yes']['Score'],
                          alternative = 'greater'))
print('U-Statistic: ', result[0])
print('P-Value: ', result[1])

U-Statistic:  44.0
P-Value:  0.6769937987072876

In [5]:
training.groupby(['Read Book']).median()

           Score
Read Book
No          70.0
Yes         75.0

# b) Wilcoxon

In [7]:
using_smartphone = [604, 556, 540, 522, 469, 544, 513, 470, 556, 531, 599, 537, 619, 536, 554, 467]
no_smartphone = [636, 623, 615, 672, 601, 600, 542, 554, 543, 520, 609, 559, 595, 565, 573, 554]

df_paired = pd.DataFrame({
    'No':no_smartphone,
    'Yes':using_smartphone
})

df_paired['diff'] = df_paired['Yes'] - df_paired['No']
df_paired.head()

    No  Yes  diff
0  636  604   -32
1  623  556   -67
2  615  540   -75
3  672  522  -150
4  601  469  -132

**Ho: Median difference = 0   
Ha: Median difference < 0**

In [9]:
from scipy.stats import wilcoxon
sumrank, p_value = wilcoxon(df_paired['diff'], alternative = 'less')
print('p-value: ', p_value)
print('sumrank: ', sumrank)

p-value:  0.0008392333984375
sumrank:  11.0

# c) Kruskal Wallis

In [12]:
transport = []
method = ['Walking ', 'Public ', 'Private ']
for i in method:
    transport.extend((i*10).split())
    
transport_df = pd.concat([pd.Series(transport, name = 'Transportation'),
               pd.Series([5,4,5,6,5,3,2,4,5,5,7,7,5,6,4,6,5,5,6,7,5,4,5,6,6,5,5,5,7,7], name = 'Monthly Investment')], axis=1)
transport_df.head()

  Transportation  Monthly Investment
0        Walking                   5
1        Walking                   4
2        Walking                   5
3        Walking                   6
4        Walking                   5

In [18]:
# Perbandingan Median Ketiga Variabel
for i in transport_df['Transportation'].unique():
    print('Median of Monthly Investment Group {}: {}'.format(i, transport_df[transport_df['Transportation'] == i]['Monthly Investment'].median()))

Median of Monthly Investment Group Walking: 5.0
Median of Monthly Investment Group Public: 6.0
Median of Monthly Investment Group Private: 5.0

In [19]:
print('Total Monthly Investment Median: ', transport_df['Monthly Investment'].median())

Total Monthly Investment Median:  5.0

**Ho: Median sama semua   
Ha: Median ada yang tidak sama**

In [20]:
from scipy.stats import kruskal
kruskal(transport_df[transport_df['Transportation'] == 'Walking']['Monthly Investment'],
       transport_df[transport_df['Transportation'] == 'Public']['Monthly Investment'],
       transport_df[transport_df['Transportation'] == 'Private']['Monthly Investment'])

KruskalResult(statistic=7.01891293654697, pvalue=0.029913168775421856)

In [22]:
transport_df.groupby(['Transportation']).median()

                Monthly Investment
Transportation
Private                          5
Public                           6
Walking                          5